<mat-tab-group dynamicHeight>
  <div class="market">
    <mat-tab label="BUY ORDER">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="http://wearecodex.com/steem-avatars/avatar-minnow.php?seed=denny"
          alt="Fish"
        />
        <mat-card-content>
          <div class="properties">
            <mat-grid-list cols="1" rowHeight="30px">
              <mat-grid-tile>
                <p>Rarity : Epic</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Weight : 5</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Price : 100</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary">BUY</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="SELL ORDER">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="http://wearecodex.com/steem-avatars/avatar-minnow.php?seed=denny"
          alt="Fish"
        />
        <mat-card-content>
          <div class="properties">
            <mat-grid-list cols="1" rowHeight="30px">
              <mat-grid-tile>
                <p>Rarity : Epic</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Weight : 5</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Price : 100</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary">BUY</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </div>
</mat-tab-group>
