// .home {
//   //   height: 90vh;
//   margin: 10%;
//   display: flex;
//   justify-content: center;
//   align-self: auto;
//   .card {
//     button{
//       margin-left: 30%;
//     }
//   }
// }
.mat-raised-button {
  padding: 40px 80px;
  font-size: 30px;
  justify-content: flex-start;
}
