
<mat-tab-group dynamicHeight>
  <div class="market">
    <mat-tab label="Fish Store">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="http://wearecodex.com/steem-avatars/avatar-minnow.php?seed=denny"
          alt="Fish"
        />
        <mat-card-content>
          <div class="properties">
            <mat-grid-list cols="1" rowHeight="30px">
              <mat-grid-tile>
                <p>Rarity : Epic</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Weight : 5</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Price : 100</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary">Sell</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="FishRod Store">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <img
          mat-card-image
          src="https://www.google.co.in/imgres?imgurl=https%3A%2F%2Fwww.sneakyfisho.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2F1%2Fsmall_image%2F295x295%2F9df78eab33525d08d6e5fb8d27136e95%2F1%2F0%2F10.jpg&imgrefurl=https%3A%2F%2Fwww.sneakyfisho.com%2Frod-and-reel-combos.html&docid=2mUzpituLTHunM&tbnid=FDbyLY54AP1pnM%3A&vet=10ahUKEwighbXbqOTjAhVLtI8KHdwTBAYQMwjdAShPME8..i&w=295&h=295&bih=628&biw=1366&q=fish%20rod&ved=0ahUKEwighbXbqOTjAhVLtI8KHdwTBAYQMwjdAShPME8&iact=mrc&uact=8"
          alt="Fish"
        />
        <mat-card-content>
          <div class="properties">
            <mat-grid-list cols="1" rowHeight="30px">
              <mat-grid-tile>
                <p>Type : Gold</p>
              </mat-grid-tile>
              <mat-grid-tile>
                <p>Power : 250</p>
              </mat-grid-tile>
              <mat-grid-tile>
             
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary">Buy</button>
                <span style="width: 5px;"></span>
                <button mat-raised-button color="primary">Upgrade</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </div>
</mat-tab-group>
